#costsTable thead th:first-child {
    min-width: 250px;
}
#costsTable thead th:last-child {
    width: 100%;
}

.enhancementIcon {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-right: 1em;
}

.costCell {
    font-weight: bold;
    font-variant-numeric: tabular-nums;
}