@font-face {
    font-family: "PirataOne";
    src: url("/assets/fonts/PirataOne-Gloomhaven.ttf");
}

:root {
    --font-family: "PirataOne", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

#enhancementForm button[type="submit"] {
    max-width: 260px;
    margin-top: 1em;
    margin-inline: auto;
}

#costsTable {
    width: auto;
    margin-inline: auto;
}

.enhancementIcon {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-right: 1em;
}

.costCell {
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    text-align: right;
}